<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>反馈建议 - UU在线工具</title>
    <meta name="keywords" content="反馈时间以,实用工具,UU在线工具">
    <meta name="description" content="UU在线工具反馈建议，您的支持和建议才是我们前进的最大动力">
    <link href="static/css/foundation.min.css" rel="stylesheet">
<link rel="stylesheet" href="static/css/common.css">
<link rel="stylesheet" href="static/css/font_1455035_z0n3d6to6dc.css">    <style>
        .page-box {
            min-height: 500px;
        }

        h1 {
            margin-top: 15px;
            margin-bottom: 40px;
        }

        p {
            font-size: 18px;
        }
    </style>
</head>
<body>
<header id="header">
    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">
            <div class="cell large-3 small-6 logo">
                <a href="index.html">
                    <span>UU在线工具</span>
                </a>
            </div>
            <div class="cell large-9 small-6 main-nav-box hide-for-small-only">
                <div class="date-box float-right" id="timeBox"></div>
            </div>
        </div>
    </div>
</header>




<main id="app">
    <div class="grid-container">
        <div class="grid-x grid-margin-x data-box">
            <div class="cell large-12 small-12">
                <h1 class="text-center">反馈建议</h1>
                <div class="grid-x grid-margin-x">
                    <div class="cell large-6 small-12">
                        <label>反馈主题
                            <input type="text" placeholder="反馈关于什么" v-model="formData.subject">
                        </label>
                        <label>反馈内容
                            <textarea rows="10" placeholder="反馈的具体内容" v-model="formData.body"></textarea>
                        </label>
                        <label>您的邮箱
                            <input type="text" placeholder="怎么联系您" v-model="formData.email">
                        </label>
                        <button class="button expanded" @click="submit" style="margin-top: 10px;">提交反馈</button>
                    </div>
                    <div class="cell large-6 small-12" style="color:#555;padding-top:15px;">
                        <p>
                            在工具使用过程中，如遇工具错误或有其它建议，可通过表单向我们反馈，
                            我们会在第一时间处理并给您反馈（留个邮箱哦^_^）。
                        </p>
                        <p>
                            此外，您还可以通过以下方式联系我们：
                        </p>
                        <p>
                            QQ：2011689829
                        </p>
                        <p>
                            邮件：↑ ↑ QQ邮箱
                        </p>
                        <p>
                            感谢支持！
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<footer id="footer" data-tool-alias="">
    <div class="grid-container" data-nosnippet="">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <!-- 底部导航 -->
                <div class="footer-nav text-center">
                    <a rel="nofollow" href="about.html">关于我们</a>
                    <a href="index1.html">工具地图</a>
                    <a href="v0pd8pgi56.html">工具博客</a>
                    <a rel="nofollow" href="support.html">支持我们</a>
                    <a rel="nofollow" href="customization.html">工具定制</a>
                    <a rel="nofollow" href="data-security.html">用户数据安全</a>
                    <a rel="nofollow" href="disclaimer.html">免责声明</a>
                    <a rel="nofollow" href="copyright.html">著作权声明</a>
                    <a rel="nofollow" href="">反馈建议</a>
                </div>
                <!-- 友情链接 -->
                <p class="friend-link text-center">友情链接：
                    <a href="javascript:;" title="网络剪贴板" target="_blank">网络剪贴板</a>
                    <a href="javascript:;" target="_blank">Font Awesome</a>
                    <a href="javascript:;" title="图标制作工具" target="_blank">图标工具</a>
                    <a href="javascript:;" title="在线文本工具箱" target="_blank">文本工具箱</a>
                    <a href="javascript:;" title="JPG MIN 图像本地化压缩工具" target="_blank">JPG MIN</a>
                    <a href="javascript:;" title="JSON数据处理好帮手！" target="_blank">WeJSON</a>
                    <a href="javascript:;" title="文本派，永久免费的永久文本存储服务" target="_blank">文本派</a>
                    <a href="javascript:;" title="专业证件照免费处理" target="_blank">证件照大师</a>
                    <a href="javascript:;" title="在线文件重命名" target="_blank">在线文件重命名</a>
                    <a href="ygtamznth7.html" target="_blank">手机号段网</a>
                    <a href="javascript:;" target="_blank" style="font-size:0;overflow: hidden">在线剪辑大师</a>
                </p>

                <!-- 版权声明 -->
                <p class="copyright text-center" style="text-align:center;">
                    Copyright © 2022 奇客科技 uuTool.cn All Rights Reserved <a rel="nofollow" href="javascript:;" target="_blank">桂ICP备17007729号-11</a><br>
                </p>
                            </div>
        </div>
    </div>
</footer>

<div class="sidebar">
    <ul>
        <li title="QQ联系我们">
            <a target="_blank" href="javascript:;"><i class="iconfont icon-qq"></i></a>
        </li>
        <li class="hide-for-small-only">
            <i class="iconfont icon-xcx"></i>
            <div class="hidden-box">
                <img src="static/picture/xcx-code.jpg" width="140" alt="小程序码">
                <span>微信小程序</span>
            </div>
        </li>
        <li>
            <i class="iconfont icon-gotop js-go-top" title="返回顶部"></i>
        </li>
    </ul>
</div>

<script src="static/js/require.js"></script>
<script src="static/js/common.min.js"></script>
    <script src="static/js/ad.min.js"></script>

<script>
    require(['vue', 'layers'], function (Vue) {
        var app = new Vue({
            el: '#app',
            data: {
                formData: {
                    subject: '',
                    body: '',
                    email: '',
                    site: 'uukit.com'
                }
            },
            methods: {
                //提交
                submit: function () {
                    var self = this;
                    //参数检查
                    if ('' == this.formData.body || '' == this.formData.subject) {
                        layer.msg('反馈主题或内容不能为空', {icon: 5});
                        return;
                    }

                    //提交留言
                    var api = apiHost + '/feedback/site/';
                    require(['requester'], function (Requester) {
                        Requester.post(api, self.formData, function (res) {
                            layer.alert('已收到您的反馈，谢谢', {icon: 6});
                            self.formData.subject = '';
                            self.formData.body = '';
                            self.formData.email = '';
                        });
                    });
                },
            }
        });
    });
</script>
</body>
</html>