<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线名单随机分组工具 - UU在线工具</title>
    <meta name="description" content="在线名单随机分组工具，可以将指定的人员名单完全随机地分为若干组，分组快速且公平公正，分组完成后可以一键导出到Excel中。">
    <link rel="canonical" href="">
    <link href="static/css/foundation.min.css" rel="stylesheet">
<link rel="stylesheet" href="static/css/common.css">
<link rel="stylesheet" href="static/css/font_1455035_z0n3d6to6dc.css">    <style>
.name-box li{display:inline-block;border:1px solid #eaeaea;color:#14679e;line-height:2;padding:0 10px;margin-right:10px;margin-bottom:10px;cursor:pointer}
</style>
</head>
<body>
<header id="header">
    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">
            <div class="cell large-3 small-6 logo">
                <a href="index.html">
                    <span>UU在线工具</span>
                </a>
            </div>
            <div class="cell large-9 small-6 main-nav-box hide-for-small-only">
                <div class="date-box float-right" id="timeBox"></div>
            </div>
        </div>
    </div>
</header>


    <!--ad box-->
    <div class="banner-ad" style="min-height:280px;">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell large-12 small-12" style="margin-top:10px;">
                    <ins class="adsbygoogle" style="display:block;max-height:100px;" data-ad-client="ca-pub-6304833918940741" data-ad-slot="5019822032" data-ad-format="auto"></ins>
                </div>
            </div>
        </div>
    </div>
<main class="theme" id="app">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-12 small-12">
                <nav class="breadcrumbs-wrapper" aria-label="你在这里:" role="导航" style="margin-top:15px;">
                    <ul class="breadcrumbs">
                        <li><a href="index.html">首页</a></li>
                        <li>
                            <span class="show-for-sr">当前: </span>
                            <h1>在线名单随机分组工具</h1>
                        </li>
                    </ul>
                    <a class="float-right tool-extend-btn hide-for-small-only collapse " href="javascript:;" title="展开/缩起工具区域">
                        <i class="iconfont icon-angle-double-right"></i>
                    </a>
                </nav>
                                    <div class="tool-collection">
                        <ul class="expanded1">
                                                            <li class=""><a href="index22.html">名单随机点名</a></li>
                                                            <li class="active"><a href="">名单随机分组</a></li>
                                                            <li class=""><a href="javascript:;">随机摇骰子/色子</a></li>
                                                            <li class=""><a href="javascript:;">随机抛硬币</a></li>
                                                            <li class=""><a href="javascript:;">蒙特卡罗方法估算圆周率值</a></li>
                                                            <li class=""><a href="javascript:;">圆周率查询下载</a></li>
                                                    </ul>
                    </div>
                            </div>

            <div class="cell large-9 small-12" id="toolWrapper" data-nosnippet="">
                <div class="tool-wrapper">
                    <div class="tool-box">
    <div class="grid-x grid-margin-x">
        <div class="cell large-8 small-12">
            <label>
                分组名单，每行一个：
                <textarea id="dataResource" rows="6" placeholder="名单列表，每行一个姓名" v-model="nameStr"></textarea>
            </label>
        </div>
        <div class="cell large-4 small-12">
            <label>
                分组数量
                <input type="number" min="1" placeholder="需要分成多少组" v-model="groupNum">
            </label>
            <label>
                名单分隔符
                <input type="text" placeholder="名单间分隔字符，默认回车" v-model="separator">
            </label>
        </div>
        <div class="cell large-12 small-12">
            <div class="btn-box">
                <button class="button small " @click="updateName">随机分组</button>
                <button class="button small " @click="showDemo">举个例子</button>
                <button class="button small " @click="export2excel" v-if="0!=nameArr.length" v-cloak="">导出到EXCEL</button>
                <button class="button small secondary " @click="reset" v-if="nameStr" v-cloak="">清空</button>
            </div>
            <div v-if="0!==groupArr.length" v-cloak="">
                <p>共有 <b>{{nameArr.length}}</b> 人，平均分为 <b>{{groupNum}}</b> 组，可以直接导出到EXCEL中：</p>
                <div v-for="(item,k) in groupArr">
                    <b>第<span v-text="k+1"></span>组：</b>
                    <small>{{item.length}}人</small>
                    <ul class="name-box no-bullet">
                        <li v-for="v in item" v-text="v"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>                                            <div class="tool-intro">
                            <h2>工具简介<br></h2><p>在线名单随机分组工具，可以将指定的人员名单完全随机地分为若干组，分组快速且公平公正，分组完成后可以一键导出到Excel中。</p><p>在各种活动中都会需要随机分组，将人员不带主观感情的分为若干组，本工具可以非常方便的完成随机分组，仅需粘贴名单后点击按钮即可完成随机分组。</p><p>本工具不仅可以用于活动人员名单分组，还可用于物品等随机分组，只需要粘贴需要随机分组的列表即可完成随机分组，方便快捷。</p><h2>如何使用</h2><p>粘贴需要分组的名单，默认每行一个，如果名单不是每行一个，请设置名单分隔符，设置好需要分组的数量后点击随机分组按钮，可以多次点击随机分组，直到结果满意为止，分好组后直接导出即可。</p><p>点击按钮分组后，分组结果将会实时展示列出，方便核对和判断是否需要继续重新分组。</p><p>可以点击举个栗子快速体验随机分组功能。</p>                        </div>
                                    </div>
            </div>

            <aside class="cell large-3 small-12 " id="sidebar">
                                    <div style="height:0;overflow: hidden;">
                        <img src="static/picture/group.jpg" alt="在线名单随机分组工具">
                    </div>
                                
                <!--tool tip -->
                <div class="aside-item tool-tip">
                    <div class="aside-title">工具简介</div>
                    <div class="aside-body">
                        <div class="text-collapse collapse">
                            <p style="margin-bottom:20px;">
                                在线名单随机分组工具，可以将指定的人员名单完全随机地分为若干组，分组快速且公平公正，分组完成后可以一键导出到Excel中。                            </p>
                            <div class="toggle-btn" title="展开/折叠工具简介"></div>
                        </div>
                    </div>
                </div>

                                    <!--green tool tip -->
                    <div class="aside-item green-tool-tip" data-nosnippet="">
                        <div class="aside-body">
                            本工具数据均在本地浏览器处理，不会上传到网络服务器中，请放心使用！
                        </div>
                    </div>
                
                <div class="aside-item" style="border:none;">
                    <div class="share-box" title="点击复制本工具链接">
                        <input class="js-copy" type="text" id="shareInput" readonly="" value="uutool.cn/group/" data-clipboard-text="https://uutool.cn/group/" data-clipboard-tip="工具链接已复制">
                    </div>
                </div>

                
                
                
                                    <!--relative tool-->
                    <div class="aside-item relative-tool">
                        <div class="aside-title">相关工具</div>
                        <div class="aside-body">
                            <ul>
                                                                    <li><a href="index22.html" title="在线名单随机点名工具">在线名单随机点名工具</a></li>
                                                                    <li><a href="javascript:;" title="在线随机摇骰子/色子工具">在线随机摇骰子/色子工具</a></li>
                                                                    <li><a href="javascript:;" title="在线随机抛硬币工具">在线随机抛硬币工具</a></li>
                                                            </ul>
                        </div>
                    </div>
                
                                    <div style="max-height:260px;overflow: hidden;margin-top:20px;">
                        <div style="max-height:150px;overflow: hidden;margin-bottom:15px;">
                            <ins class="adsbygoogle" style="display:inline-block;width:100%;min-height:90px" data-full-width-responsive="true" data-ad-client="ca-pub-6304833918940741" data-ad-slot="5880251834"></ins>
                        </div>
                    </div>
                            </aside>
        </div>
    </div>
</main>


<footer id="footer" data-tool-alias="group">
    <div class="grid-container" data-nosnippet="">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <!-- 底部导航 -->
                <div class="footer-nav text-center">
                    <a rel="nofollow" href="about.html">关于我们</a>
                    <a href="index1.html">工具地图</a>
                    <a href="v0pd8pgi56.html">工具博客</a>
                    <a rel="nofollow" href="support.html">支持我们</a>
                    <a rel="nofollow" href="customization.html">工具定制</a>
                    <a rel="nofollow" href="data-security.html">用户数据安全</a>
                    <a rel="nofollow" href="disclaimer.html">免责声明</a>
                    <a rel="nofollow" href="copyright.html">著作权声明</a>
                    <a rel="nofollow" href="feedback.html">反馈建议</a>
                </div>
                <!-- 友情链接 -->
                <p class="friend-link text-center">友情链接：
                    <a href="javascript:;" title="网络剪贴板" target="_blank">网络剪贴板</a>
                    <a href="javascript:;" target="_blank">Font Awesome</a>
                    <a href="javascript:;" title="图标制作工具" target="_blank">图标工具</a>
                    <a href="javascript:;" title="在线文本工具箱" target="_blank">文本工具箱</a>
                    <a href="javascript:;" title="JPG MIN 图像本地化压缩工具" target="_blank">JPG MIN</a>
                    <a href="javascript:;" title="JSON数据处理好帮手！" target="_blank">WeJSON</a>
                    <a href="javascript:;" title="文本派，永久免费的永久文本存储服务" target="_blank">文本派</a>
                    <a href="javascript:;" title="专业证件照免费处理" target="_blank">证件照大师</a>
                    <a href="javascript:;" title="在线文件重命名" target="_blank">在线文件重命名</a>
                    <a href="ygtamznth7.html" target="_blank">手机号段网</a>
                    <a href="javascript:;" target="_blank" style="font-size:0;overflow: hidden">在线剪辑大师</a>
                </p>

                <!-- 版权声明 -->
                <p class="copyright text-center" style="text-align:center;">
                    Copyright © 2022 奇客科技 uuTool.cn All Rights Reserved <a rel="nofollow" href="javascript:;" target="_blank">桂ICP备17007729号-11</a><br>
                </p>
                            </div>
        </div>
    </div>
</footer>

<div class="sidebar">
    <ul>
        <li title="QQ联系我们">
            <a target="_blank" href="javascript:;"><i class="iconfont icon-qq"></i></a>
        </li>
        <li class="hide-for-small-only">
            <i class="iconfont icon-xcx"></i>
            <div class="hidden-box">
                <img src="static/picture/xcx-code.jpg" width="140" alt="小程序码">
                <span>微信小程序</span>
            </div>
        </li>
        <li>
            <i class="iconfont icon-gotop js-go-top" title="返回顶部"></i>
        </li>
    </ul>
</div>

<script src="static/js/require.js"></script>
<script src="static/js/common.min.js"></script>
    <script src="static/js/ad.min.js"></script>
<script src="https://uutool.cn/assets/js/tools/group.js?v=1628500563"></script>
</body>
</html>