<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线多尺寸图标/图片批量生成工具 - UU在线工具</title>
    <meta name="description" content="在线多尺寸图标/图片批量生成工具，可以将一张原始大图批量生成多种尺寸规格的图片，支持自定义尺寸和导出格式以及自动缩放，一键完成多尺寸图片生成。">
    <link rel="canonical" href="">
    <link href="static/css/foundation.min.css" rel="stylesheet">
<link rel="stylesheet" href="static/css/common.css">
<link rel="stylesheet" href="static/css/font_1455035_z0n3d6to6dc.css">    <style>
.result-box{margin-bottom:15px}.result-box img{margin-top:15px;max-width:420px;cursor:pointer}
</style>
</head>
<body>
<header id="header">
    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">
            <div class="cell large-3 small-6 logo">
                <a href="index.html">
                    <span>UU在线工具</span>
                </a>
            </div>
            <div class="cell large-9 small-6 main-nav-box hide-for-small-only">
                <div class="date-box float-right" id="timeBox"></div>
            </div>
        </div>
    </div>
</header>


    <!--ad box-->
    <div class="banner-ad" style="min-height:280px;">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell large-12 small-12" style="margin-top:10px;">
                    <ins class="adsbygoogle" style="display:block;max-height:100px;" data-ad-client="ca-pub-6304833918940741" data-ad-slot="5019822032" data-ad-format="auto"></ins>
                </div>
            </div>
        </div>
    </div>
<main class="theme" id="app">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-12 small-12">
                <nav class="breadcrumbs-wrapper" aria-label="你在这里:" role="导航" style="margin-top:15px;">
                    <ul class="breadcrumbs">
                        <li><a href="index.html">首页</a></li>
                        <li>
                            <span class="show-for-sr">当前: </span>
                            <h1>在线多尺寸图标/图片批量生成工具</h1>
                        </li>
                    </ul>
                    <a class="float-right tool-extend-btn hide-for-small-only collapse " href="javascript:;" title="展开/缩起工具区域">
                        <i class="iconfont icon-angle-double-right"></i>
                    </a>
                </nav>
                                    <div class="tool-collection">
                        <ul class="expanded1">
                                                            <li class=""><a href="javascript:;">纯色图片生成</a></li>
                                                            <li class=""><a href="javascript:;">PNG图片背景色添加</a></li>
                                                            <li class=""><a href="javascript:;">图片平铺填充</a></li>
                                                            <li class=""><a href="javascript:;">圆角图片制作</a></li>
                                                            <li class=""><a href="javascript:;">图像尺寸修改</a></li>
                                                            <li class="active"><a href="">多尺寸图标批量生成</a></li>
                                                            <li class=""><a href="index99.html">图片转base64</a></li>
                                                    </ul>
                    </div>
                            </div>

            <div class="cell large-9 small-12" id="toolWrapper" data-nosnippet="">
                <div class="tool-wrapper">
                    <div class="tool-box" @paste="handlePaste">
    <div class="grid-x grid-margin-x">
        <div class="cell large-3">
            <label for="">
                导出格式
                <select v-model="outputFormat">
                    <option value="jpg">JPG</option>
                    <option value="png">PNG</option>
                </select>
            </label>
        </div>
        <div class="cell large-3">
            <label for="">
                强制放大
                <select v-model.number="isBig">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </label>
        </div>
        <div class="cell large-6">
            <label for="">
                自定义尺寸
                <input type="text" v-model="customSize" placeholder="英文逗号分隔，如24,48,160">
            </label>
        </div>
        <div class="cell large-12">
            <label for="">
                默认尺寸<br>
                <span class="checkbox-group" v-for="item in defaultArr">
                    <input :id="'size'+item" type="checkbox" :value="item" v-model="selectedArr">
                     <label :for="'size'+item">{{item}}</label>
                </span>
            </label>
        </div>
    </div>
    <div class="drag-box" id="dragBox" style="margin-top:10px;">
        <input type="file" id="filePicker" class="file-picker" accept="image/*">
        <div class="tip-word">将图片拖入此处或点击上传（CTRL+V）</div>
    </div>
    <div class="btn-box">
        <button class="button small info " @click="generateIcon">批量生成</button>
        <button class="button small info " @click="download" v-if="status" v-cloak="">下载全部图像</button>
        <button class="button small secondary " @click="reset">清空</button>
    </div>

    <div class="img-info" v-if="imgSize.width" v-cloak="">
        <span style="color:red;">原始图片尺寸：<b>{{imgSize.width+'x'+imgSize.height}}</b></span><br>
        <span style="color:red;" v-if="''!=availableSize" v-cloak="">已生成尺寸：<b>{{availableSize}}</b></span><br>
    </div>

    <div class="result-box" v-if="1||''!=base64" v-cloak="">

    </div>
</div>
                                            <div class="tool-intro">
                            <h2>工具简介</h2><p>在线多尺寸图标/图片批量生成工具，可以将一张原始大图批量生成多种尺寸规格的图片，支持自定义尺寸和导出格式以及自动缩放，一键完成多尺寸图片生成。</p><p>在APP或应用等发布时候，通常需要上传提供同一张图片不同尺寸的图片/图标，一张张用PS制作太麻烦，可以通过本工具一键生成多种所需的尺寸图片，方便快捷。</p><p>本工具默认提供1024,512, 256, 192, 180, 167, 155, 152, 144, 128, 120, 114, 108, 100, 96, 90, 87, 80, 76, 72, 64, 60, 58, 57, 50, 48, 40, 36, 32, 29, 28, 20, 16等多种尺寸，可根据实际需要勾选。</p><p>图片尺寸的最终生成结果为自定义尺寸和默认尺寸的总和，可以勾选需要的默认尺寸，默认尺寸总没有的再自定义添加。</p><h2>如何使用</h2><p>点击上传或将图片拖入页面，也可以直接在截图后按Ctrl+V快速粘贴上传图片，选择需要生成的尺寸，如果默认的尺寸中没有也可以在自定义尺寸中添加自己需要生成的尺寸，使用英文逗号分隔。</p><p>选择需要导出的图片格式，如JPG或PNG格式，默认图像不会自动放大图像，如您的原始图像为800像素，就不会自动生成1024宽度的图像，如果您需要强制放大，可以选择强制放大图像，放大的图像可能会失真模糊，建议使用高清大图生成。</p><p>工具支持正方形或长方形的图像，所选规格均为宽度，工具将会根据实际图像比例自动计算相应高度，仅需设置好需要生成的尺寸宽度即可，无需指定高度，请生成前检查您的原始图像宽高是否符合要求。</p><p>设置完成后点击生成按钮，工具将会自动生成所选的尺寸，并打包到一个压缩文件中，点击下载按钮即可下载所有图像保存到本地。</p><p>本工具为纯前端浏览器处理，您的图片将不会发送到任何网路服务器中 ，请放心使用，可能不兼容部分老版本浏览器，请使用最新版本浏览器以获得更好的体验。</p><p><br></p>                        </div>
                                    </div>
            </div>

            <aside class="cell large-3 small-12 " id="sidebar">
                                    <div style="height:0;overflow: hidden;">
                        <img src="static/picture/icon-batch.jpg" alt="在线多尺寸图标/图片批量生成工具">
                    </div>
                                
                <!--tool tip -->
                <div class="aside-item tool-tip">
                    <div class="aside-title">工具简介</div>
                    <div class="aside-body">
                        <div class="text-collapse collapse">
                            <p style="margin-bottom:20px;">
                                在线多尺寸图标/图片批量生成工具，可以将一张原始大图批量生成多种尺寸规格的图片，支持自定义尺寸和导出格式以及自动缩放，一键完成多尺寸图片生成。                            </p>
                            <div class="toggle-btn" title="展开/折叠工具简介"></div>
                        </div>
                    </div>
                </div>

                                    <!--green tool tip -->
                    <div class="aside-item green-tool-tip" data-nosnippet="">
                        <div class="aside-body">
                            本工具数据均在本地浏览器处理，不会上传到网络服务器中，请放心使用！
                        </div>
                    </div>
                
                <div class="aside-item" style="border:none;">
                    <div class="share-box" title="点击复制本工具链接">
                        <input class="js-copy" type="text" id="shareInput" readonly="" value="uutool.cn/icon-batch/" data-clipboard-text="https://uutool.cn/icon-batch/" data-clipboard-tip="工具链接已复制">
                    </div>
                </div>

                
                
                
                                    <!--relative tool-->
                    <div class="aside-item relative-tool">
                        <div class="aside-title">相关工具</div>
                        <div class="aside-body">
                            <ul>
                                                                    <li><a href="index53.html" title="在线img标签图片链接批量提取工具">在线img标签图片链接批量提取工具</a></li>
                                                                    <li><a href="javascript:;" title="在线图片下载工具">在线图片下载工具</a></li>
                                                                    <li><a href="javascript:;" title="在线图片编辑器">在线图片编辑器</a></li>
                                                                    <li><a href="index16.html" title="在线图片批量压缩工具">在线图片批量压缩工具</a></li>
                                                                    <li><a href="javascript:;" title="在线文字转图片工具">在线文字转图片工具</a></li>
                                                                    <li><a href="javascript:;" title="PNG图片背景色添加工具">PNG图片背景色添加工具</a></li>
                                                                    <li><a href="javascript:;" title="在线GIF图片合成工具">在线GIF图片合成工具</a></li>
                                                                    <li><a href="javascript:;" title="在线图片坐标拾取工具">在线图片坐标拾取工具</a></li>
                                                                    <li><a href="javascript:;" title="在线图片批量剪切压缩工具">在线图片批量剪切压缩工具</a></li>
                                                                    <li><a href="javascript:;" title="在线图片拾色器">在线图片拾色器</a></li>
                                                                    <li><a href="javascript:;" title="在线图片列表显示工具">在线图片列表显示工具</a></li>
                                                                    <li><a href="javascript:;" title="在线图片平铺填充工具">在线图片平铺填充工具</a></li>
                                                            </ul>
                        </div>
                    </div>
                
                                    <div style="max-height:260px;overflow: hidden;margin-top:20px;">
                        <div style="max-height:150px;overflow: hidden;margin-bottom:15px;">
                            <ins class="adsbygoogle" style="display:inline-block;width:100%;min-height:90px" data-full-width-responsive="true" data-ad-client="ca-pub-6304833918940741" data-ad-slot="5880251834"></ins>
                        </div>
                    </div>
                            </aside>
        </div>
    </div>
</main>


<footer id="footer" data-tool-alias="icon-batch">
    <div class="grid-container" data-nosnippet="">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <!-- 底部导航 -->
                <div class="footer-nav text-center">
                    <a rel="nofollow" href="about.html">关于我们</a>
                    <a href="index1.html">工具地图</a>
                    <a href="v0pd8pgi56.html">工具博客</a>
                    <a rel="nofollow" href="support.html">支持我们</a>
                    <a rel="nofollow" href="customization.html">工具定制</a>
                    <a rel="nofollow" href="data-security.html">用户数据安全</a>
                    <a rel="nofollow" href="disclaimer.html">免责声明</a>
                    <a rel="nofollow" href="copyright.html">著作权声明</a>
                    <a rel="nofollow" href="feedback.html">反馈建议</a>
                </div>
                <!-- 友情链接 -->
                <p class="friend-link text-center">友情链接：
                    <a href="javascript:;" title="网络剪贴板" target="_blank">网络剪贴板</a>
                    <a href="javascript:;" target="_blank">Font Awesome</a>
                    <a href="javascript:;" title="图标制作工具" target="_blank">图标工具</a>
                    <a href="javascript:;" title="在线文本工具箱" target="_blank">文本工具箱</a>
                    <a href="javascript:;" title="JPG MIN 图像本地化压缩工具" target="_blank">JPG MIN</a>
                    <a href="javascript:;" title="JSON数据处理好帮手！" target="_blank">WeJSON</a>
                    <a href="javascript:;" title="文本派，永久免费的永久文本存储服务" target="_blank">文本派</a>
                    <a href="javascript:;" title="专业证件照免费处理" target="_blank">证件照大师</a>
                    <a href="javascript:;" title="在线文件重命名" target="_blank">在线文件重命名</a>
                    <a href="ygtamznth7.html" target="_blank">手机号段网</a>
                    <a href="javascript:;" target="_blank" style="font-size:0;overflow: hidden">在线剪辑大师</a>
                </p>

                <!-- 版权声明 -->
                <p class="copyright text-center" style="text-align:center;">
                    Copyright © 2022 奇客科技 uuTool.cn All Rights Reserved <a rel="nofollow" href="javascript:;" target="_blank">桂ICP备17007729号-11</a><br>
                </p>
                            </div>
        </div>
    </div>
</footer>

<div class="sidebar">
    <ul>
        <li title="QQ联系我们">
            <a target="_blank" href="javascript:;"><i class="iconfont icon-qq"></i></a>
        </li>
        <li class="hide-for-small-only">
            <i class="iconfont icon-xcx"></i>
            <div class="hidden-box">
                <img src="static/picture/xcx-code.jpg" width="140" alt="小程序码">
                <span>微信小程序</span>
            </div>
        </li>
        <li>
            <i class="iconfont icon-gotop js-go-top" title="返回顶部"></i>
        </li>
    </ul>
</div>

<script src="static/js/require.js"></script>
<script src="static/js/common.min.js"></script>
    <script src="static/js/ad.min.js"></script>
<script src="https://uutool.cn/assets/js/tools/icon-batch.js?v=1639543467"></script>
</body>
</html>