<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UU网页列表抓取工具</title>
    <meta name="keywords" content="网站抓取,网页爬虫">
    <meta name="description" content="UU网页列表抓取工具支持对网站列表进行进行抓取并简单的处理数据，工具使用前需要先解除浏览器跨域限制。">
    <link href="static/css/foundation.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/crawler.css">
</head>
<body class="index-page">
<main id="app">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-12 small-12">
                <h1 class="text-center">
                    <a href="">UU网页列表抓取工具</a><br>
                    <span class="subtitle">简单抓取分析数量不多的网页列表</span>
                </h1>
                <div class="tool-box">
                    <textarea cols="30" rows="10" placeholder="链接列表，每个一行" v-model="urlStr"></textarea>
                    <div class="grid-x grid-margin-x">
                        <div class="cell large-2 small-6">
                            <label>超时时间：
                                <input type="number" placeholder="单位秒" v-model="timeout">
                            </label>
                        </div>
                        <div class="cell large-2 small-6">
                            <label>线程数：
                                <input type="number" placeholder="单位秒" v-model="threadNum">
                            </label>
                        </div>
                        <div class="cell large-2 small-6">
                            <label><br>
                                <button class="button expanded " @click="crawl">开始抓取</button>
                            </label>
                        </div>
                        <div class="cell large-2 small-6">
                            <label><br>
                                <button class="button expanded " @click="showDemo">举个例子</button>
                            </label>
                        </div>
                        <div class="cell large-2 small-6">
                            <label><br>
                                <input class="hide" type="file" id="filePicker" accept="text/plain">
                                <button class="button expanded " @click="importTxt">导入记录</button>
                            </label>
                        </div>
                        <div class="cell large-2 small-6" v-show="finishStatus" v-cloak="">
                            <label><br>
                                <button class="button expanded " @click="exportTxt">导出数据</button>
                            </label>
                        </div>
                    </div>

                    <div class="result-box" v-if="0!=linkArr.length" v-cloak="">
                        <hr>
                        <p>链接总数：<b v-text="linkArr.length">0</b>
                            <span class="float-right" title="数据可能不准，仅供参考！">数据长度：<b v-text="dataCount">0</b></span>
                        </p>
                        <table class="hover">
                            <thead>
                            <tr>
                                <th width="5%">ID</th>
                                <th width="75%">链接</th>
                                <th width="10%">状态</th>
                                <th width="10%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item,index) in linkArr" v-cloak="">
                                <td>{{index+1}}</td>
                                <td class="url-str"><a :href="item.url" target="_blank">{{item.url}}</a></td>
                                <td class="status-tip" :class="'status'+item.status">{{getTipWord(item.status)}}</td>
                                <td>
                                    <button class="retry small" @click="retry(index)">重试</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div v-show="finishStatus">
                            <button class="button expanded " @click="exportTxt">导出数据</button>
                        </div>
                    </div>
                </div>
                <!--数据处理-->
                <div v-if="finishStatus" v-cloak="">
                    <p class="text-center" style="color:green;">↓↓ 好了，你可以简单获取所爬取的网页数据了 ↓↓</p>
                    <section>
                        <hr>
                        <button class="button success expanded" @click="getAllUrl">获取所有网页URL</button>
                        <div v-if="0!=dataResult.urlArr.length">
                            <p>URL总数：<b v-text="dataResult.urlArr.length">0</b>(已去重)&nbsp;&nbsp;
                                <a href="javascript:;" @click="exportFile(dataResult.urlArr,'所有URL')">导出</a>
                            </p>
                            <textarea placeholder="URL列表结果" rows="15" v-text='dataResult.urlArr.join("\n")'></textarea>
                        </div>
                    </section>
                    <section>
                        <hr>
                        <button class="button success expanded" @click="getAllLink">获取所有超链接</button>
                        <div v-if="0!=dataResult.linkArr.length">
                            <p>
                                URL总数：<b v-text="dataResult.linkArr.length">0</b>(已去重)&nbsp;&nbsp;
                                <a href="javascript:;" @click="exportFile(dataResult.linkArr,'所有超链接')">导出</a>
                            </p>
                            <textarea placeholder="URL列表结果" rows="15" v-text='dataResult.linkArr.join("\n")'></textarea>
                        </div>
                    </section>

                    <section>
                        <hr>
                        <p>获取单一数据列表 (当前处理ID：<b>{{currentLinkId}}</b>)</p>
                        <div class="grid-x grid-margin-x">
                            <div class="cell large-3">
                                <label> 选择器
                                    <input type="text" v-model="dataConfig.valueList.selector" placeholder="如 a.item">
                                </label>
                            </div>
                            <div class="cell large-3">
                                <label> 值类型
                                    <select v-model="dataConfig.valueList.type">
                                        <option value="html">HTML</option>
                                        <option value="text">TEXT文本</option>
                                        <option value="attr">属性值</option>
                                    </select>
                                </label>
                            </div>
                            <div class="cell large-3" v-if="'attr'==dataConfig.valueList.type">
                                <label> 属性名
                                    <input type="text" v-model="dataConfig.valueList.attr" placeholder="如 href">
                                </label>
                            </div>
                            <div class="cell large-3">
                                <label> 数据分隔符
                                    <input type="text" v-model="dataConfig.valueList.separator" placeholder="默认回车">
                                </label>
                            </div>
                            <div class="cell large-3">
                                <label> <br>
                                    <button class="button success expanded" @click="getValueList">获取数据项列表</button>
                                </label>
                            </div>
                        </div>
                        <div v-if="0!=dataResult.valueListArr.length">
                            <p>
                                数据项总数：<b v-text="dataResult.valueListArr.length">0</b>
                                <a href="javascript:;" @click="exportFile(dataResult.valueListArr,'所有数据项')">导出</a>
                            </p>
                            <textarea placeholder="数据项列表结果" rows="15" v-text='5000>dataResult.valueListArr.length?dataResult.valueListArr.join("\n"):"数据项过多，请直接导出下载！"'></textarea>
                        </div>
                    </section>
                </div>
            </div>
            <div class="cell large-12 small-12" style="margin-top:50px;">
                <article>
                    <section>
                        <h2>UU网页列表抓取工具的原理</h2>
                        <p>
                            UU死链检查工具通过命令行启动浏览器或实用插件方式设置浏览器允许跨域请求，直接使用JS下载列表中的每一项链接的HTML，支持数据打包导出和简单数据处理。</p>
                        <p>请根据自身网络实际情况合理设置加载超时时间，如发现抓取失败的链接，可手动重新抓取一次。</p>
                        <p>如果抓取网页列表数量过多，请注意分多次抓取并及时导出，避免数据丢失，抓取期间浏览器不能刷新，否则数据将完全丢失！</p>
                    </section>
                    <section>
                        <h2>浏览器要求？</h2>
                        <p>
                            本工具默认工作于较新版本的Chrome浏览器,由于原生的浏览器有跨域请求限制，故无法直接抓取数据，需要对浏览器进行相关设置，
                            一般有命令行方式启动Chrome或使用Chrome插件解除跨域限制。
                        </p>
                        <p>
                            1、使用命令行启动浏览器。
                            <br>
                            打开CMD命令行，输入 <code>"C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" --disable-web-security --user-data-dir=c:/</code>
                            <br>
                            回车打开浏览器，请注意前面浏览器路径，如发现路径错误提示，请根据实际情况更换成正确的路径。<br>
                        </p>
                        <p>
                            如果一切正常，则会启动浏览器，且可以在浏览器地址栏下方看到提示：
                            <code>
                                您使用的是不受支持的命令行标记: --disable-web-security。稳定性和安全性会有所下降。
                            </code><br>
                            如果未能启动或没有在 <code>--disable-web-security</code>模式下启动，说明操作失败，请自行google一下相关方法（搜：Chrome 解除 跨域 限制），可能会应浏览器版本不通而操作不一样。
                        </p>
                        <p>
                            2、使用插件解除跨域限制。[强烈推荐！]<br>
                            自行到google插件商店安装并启动
                            <a href="javascript:;" target="_blank">Allow CORS: Access-Control-Allow-Origin</a>。
                        </p>
                    </section>
                    <section>
                        <h2>数据导出格式？</h2>
                        <p>
                            网站列表数据将会被导出为一个txt文件，每一行包含一个网址数据，数据为JSON格式，包含url,html,status三个字段，分别表示网站URL，网站的HTML源码和采集状态。
                            其中采集状态0表示队列中，1表示正在抓取，2表示抓取成功，3表示抓取失败。
                        </p>
                        <p>
                            数据导出后，可以直接导入之前导出的数据继续处理。
                        </p>
                    </section>
                    <section>
                        <h2>注意事项</h2>
                        <p>
                            在使用本工具前，请务必确保已经解除了跨域限制，否则虽然显示抓取成功，实际上却没有抓取到数据，具体可以按 <code>F12</code>查看是否有相关跨域限制的错误，
                            也可以查看网址列表右上方的实时抓取数据长度统计，如果采集成功，数据长度应该合理地增加。
                        </p>
                        <p>
                            切记小批量采集，常导出数据，以免数据丢失，造成功亏一篑！
                        </p>
                    </section>
                </article>
            </div>
        </div>
    </div>
</main>

<script src="static/js/require.js"></script>
<script src="static/js/common.js"></script>
<script src="static/js/index.min2.js"></script>
    <div style="display:none">
        <script type="text/javascript" src="static/js/z_stat-1278865933_1278865933.js"></script>
    </div>
</body>
</html>