<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML标签清除工具 - UU在线工具</title>
    <meta name="description" content="本工具可以清理HTML代码中所有的标签，包含js和css标签等">
    <link rel="canonical" href="">
    <link href="static/css/foundation.min.css" rel="stylesheet">
<link rel="stylesheet" href="static/css/common.css">
<link rel="stylesheet" href="static/css/font_1455035_z0n3d6to6dc.css">    </head>
<body>
<header id="header">
    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">
            <div class="cell large-3 small-6 logo">
                <a href="index.html">
                    <span>UU在线工具</span>
                </a>
            </div>
            <div class="cell large-9 small-6 main-nav-box hide-for-small-only">
                <div class="date-box float-right" id="timeBox"></div>
            </div>
        </div>
    </div>
</header>


    <!--ad box-->
    <div class="banner-ad" style="min-height:280px;">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell large-12 small-12" style="margin-top:10px;">
                    <ins class="adsbygoogle" style="display:block;max-height:100px;" data-ad-client="ca-pub-6304833918940741" data-ad-slot="5019822032" data-ad-format="auto"></ins>
                </div>
            </div>
        </div>
    </div>
<main class="theme" id="app">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-12 small-12">
                <nav class="breadcrumbs-wrapper" aria-label="你在这里:" role="导航" style="margin-top:15px;">
                    <ul class="breadcrumbs">
                        <li><a href="index.html">首页</a></li>
                        <li>
                            <span class="show-for-sr">当前: </span>
                            <h1>HTML标签清除工具</h1>
                        </li>
                    </ul>
                    <a class="float-right tool-extend-btn hide-for-small-only collapse " href="javascript:;" title="展开/缩起工具区域">
                        <i class="iconfont icon-angle-double-right"></i>
                    </a>
                </nav>
                                    <div class="tool-collection">
                        <ul class="expanded1">
                                                            <li class=""><a href="index75.html">HTML代码预览</a></li>
                                                            <li class=""><a href="index61.html">HTML代码标签去除</a></li>
                                                            <li class="active"><a href="">HTML清理</a></li>
                                                            <li class=""><a href="index62.html">谷歌翻译标签处理</a></li>
                                                    </ul>
                    </div>
                            </div>

            <div class="cell large-9 small-12" id="toolWrapper" data-nosnippet="">
                <div class="tool-wrapper">
                    <div class="tool-box">
    <textarea id="dataResource" rows="8" placeholder="要转换的HTML字符串" v-model="convertData"></textarea>
    <div class="btn-box">
        <button class="button small " @click="strip">清除标签</button>
        <button class="button small " @click="showDemo">举个栗子</button>
        <button class="button small js-copy" data-clipboard-target="#resultBox" v-if="''!=resultStr" v-cloak="">复制结果</button>
        <button class="button small secondary " @click="reset" v-if="''!=convertData" v-cloak="">清空</button>
        <span class="checkbox-group">
             <input id="cleanSpaceLine" v-model="isCleanSpaceLine" type="checkbox">
             <label for="cleanSpaceLine">去除空行</label>
         </span>
        <span class="checkbox-group">
              <input id="isTrim" v-model="isTrim" type="checkbox">
              <label for="isTrim">去除每行前后空格</label>
        </span>
    </div>
    <textarea id="resultBox" rows="8" placeholder="转换结果输出区" v-model="resultStr"></textarea>
</div>                                    </div>
            </div>

            <aside class="cell large-3 small-12 " id="sidebar">
                                
                <!--tool tip -->
                <div class="aside-item tool-tip">
                    <div class="aside-title">工具简介</div>
                    <div class="aside-body">
                        <div class="text-collapse collapse">
                            <p style="margin-bottom:20px;">
                                本工具可以清理HTML代码中所有的标签，包含js和css标签等                            </p>
                            <div class="toggle-btn" title="展开/折叠工具简介"></div>
                        </div>
                    </div>
                </div>

                                    <!--green tool tip -->
                    <div class="aside-item green-tool-tip" data-nosnippet="">
                        <div class="aside-body">
                            本工具数据均在本地浏览器处理，不会上传到网络服务器中，请放心使用！
                        </div>
                    </div>
                
                <div class="aside-item" style="border:none;">
                    <div class="share-box" title="点击复制本工具链接">
                        <input class="js-copy" type="text" id="shareInput" readonly="" value="uutool.cn/html-strip/" data-clipboard-text="https://uutool.cn/html-strip/" data-clipboard-tip="工具链接已复制">
                    </div>
                </div>

                
                
                
                
                                    <div style="max-height:260px;overflow: hidden;margin-top:20px;">
                        <div style="max-height:150px;overflow: hidden;margin-bottom:15px;">
                            <ins class="adsbygoogle" style="display:inline-block;width:100%;min-height:90px" data-full-width-responsive="true" data-ad-client="ca-pub-6304833918940741" data-ad-slot="5880251834"></ins>
                        </div>
                    </div>
                            </aside>
        </div>
    </div>
</main>


<footer id="footer" data-tool-alias="html-strip">
    <div class="grid-container" data-nosnippet="">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <!-- 底部导航 -->
                <div class="footer-nav text-center">
                    <a rel="nofollow" href="about.html">关于我们</a>
                    <a href="index1.html">工具地图</a>
                    <a href="v0pd8pgi56.html">工具博客</a>
                    <a rel="nofollow" href="support.html">支持我们</a>
                    <a rel="nofollow" href="customization.html">工具定制</a>
                    <a rel="nofollow" href="data-security.html">用户数据安全</a>
                    <a rel="nofollow" href="disclaimer.html">免责声明</a>
                    <a rel="nofollow" href="copyright.html">著作权声明</a>
                    <a rel="nofollow" href="feedback.html">反馈建议</a>
                </div>
                <!-- 友情链接 -->
                <p class="friend-link text-center">友情链接：
                    <a href="javascript:;" title="网络剪贴板" target="_blank">网络剪贴板</a>
                    <a href="javascript:;" target="_blank">Font Awesome</a>
                    <a href="javascript:;" title="图标制作工具" target="_blank">图标工具</a>
                    <a href="javascript:;" title="在线文本工具箱" target="_blank">文本工具箱</a>
                    <a href="javascript:;" title="JPG MIN 图像本地化压缩工具" target="_blank">JPG MIN</a>
                    <a href="javascript:;" title="JSON数据处理好帮手！" target="_blank">WeJSON</a>
                    <a href="javascript:;" title="文本派，永久免费的永久文本存储服务" target="_blank">文本派</a>
                    <a href="javascript:;" title="专业证件照免费处理" target="_blank">证件照大师</a>
                    <a href="javascript:;" title="在线文件重命名" target="_blank">在线文件重命名</a>
                    <a href="ygtamznth7.html" target="_blank">手机号段网</a>
                    <a href="javascript:;" target="_blank" style="font-size:0;overflow: hidden">在线剪辑大师</a>
                </p>

                <!-- 版权声明 -->
                <p class="copyright text-center" style="text-align:center;">
                    Copyright © 2022 奇客科技 uuTool.cn All Rights Reserved <a rel="nofollow" href="javascript:;" target="_blank">桂ICP备17007729号-11</a><br>
                </p>
                            </div>
        </div>
    </div>
</footer>

<div class="sidebar">
    <ul>
        <li title="QQ联系我们">
            <a target="_blank" href="javascript:;"><i class="iconfont icon-qq"></i></a>
        </li>
        <li class="hide-for-small-only">
            <i class="iconfont icon-xcx"></i>
            <div class="hidden-box">
                <img src="static/picture/xcx-code.jpg" width="140" alt="小程序码">
                <span>微信小程序</span>
            </div>
        </li>
        <li>
            <i class="iconfont icon-gotop js-go-top" title="返回顶部"></i>
        </li>
    </ul>
</div>

<script src="static/js/require.js"></script>
<script src="static/js/common.min.js"></script>
    <script src="static/js/ad.min.js"></script>
<script src="static/js/html-strip.js"></script>
</body>
</html>